<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <header>
            <h1>The Website of Reporting of the Gods</h1>
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="{{ path('about') }}">About</a></li>
                    <li><a href="{{ path('report') }}">Report</a></li>
                    <li><a href="{{ path('lucky') }}">Lucky</a></li>
                    <li><a href="{{ path('api') }}">API</a></li>
                    <li><a href="{{ path('card_home') }}">Dashboard</a></li>
                    <li><a href="{{ path('card_session') }}">Session</a></li>
                    <li><a href="{{ path('game_home') }}">Game 21</a></li>
                    <li><a href="{{ path('library_home') }}">Library</a></li>
                    <li><a href="{{ path('metrics') }}">Metrics</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>&copy; 2024 The Lord Almighty</p>
        </footer>

        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </body>
</html>
